<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="list-height">
      <ion-list scroll="false">
        <ion-item *ngFor="let photo of photos; let i = index">
          <ion-icon name="trash" slot="start" (click)=deletePhoto(photo.id)></ion-icon>
            <ion-label (click)="openPreviewModal(i)"><h2>{{photo.title}}</h2></ion-label>
            <div class="item-id" slot="end">
            <p>ID: {{photo.id}}</p>
            <p>{{photo.date}}</p>
            </div>
        </ion-item>
      </ion-list>
</ion-card>
  <div class="button-centered">
    <ion-button (click)="erasePhotos()" horizontal="center">Erase list</ion-button>
  </div>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
